/* Paletas de colores
#0000AA
#00AA00
#00AAAA
*/

/* General styles */
#container {
    width: 80%;
    height: 855px;
    margin: auto;
    z-index: 100;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../media/img/backimg.jpg");
    background-repeat:no-repeat ;
    background-size: 100%;
    margin: 0;
}
@font-face {
    font-family:"Minecraft";    
    src:"../fonts/minecraft_font.ttf" format("ttf");
    font-style: normal;
    font-weight: bold;
}

/*Header styles */
header a {
    text-decoration: none;
    color: black;
}
header {
    width: 80%;
    height: auto;
    position:fixed;
    z-index: 100;
}
.logo {
    position: absolute;
    top: 35px;
    left: 150px;
    width: 60px;
    box-shadow: 2px 2px 5px;
    animation-name: logo;
    animation-duration:2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
.logo:hover {
    animation-play-state: running;
}@keyframes logo {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.title {
    background-color: #75d475 ;
    padding-left:20px;
    margin: 0;
    height: 120px;
    font-family: "Minecraft" ;
    font-size: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}  
nav a {
    display:block;
    text-decoration: none;
    color: black;
    padding: 21.4px;
    transition: all 500ms;
    text-align: center;
}
nav {
    margin: 0;
    width: 100%;
    
}
nav ul{
    margin: 0%;
    padding: 0;
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;    
}
nav li {
    background-color: #75d475 ;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav li:hover {
    background-color: #75d47581 ;    
}

nav li:hover  + header{
    background-color: none;
}
nav li:hover a{
    color: #fff;
    transform: scale(1.2);
}
/* Sections */
h2 {
    font-family: Rubik;
}
#resumen {
    width: 40%;
    position: relative;
    top: 225px;
    background-image: url("../media/img/bloquegris.jpg");
    text-align: justify;
    padding: 10px;
    box-shadow: 10px 10px 5px;
    border-style: solid ;
    border-width: 10px;
    border-image: url("../media/img/bordetierra.png") 20% round ;
    
}
footer {
    background-color: black;
    position: absolute;
    width: 100%;
    bottom: -295px;
    left: 0;
    height: 300px;    
}
@media (max-width: 1280px) {
    .title {
        font-size: 25px;
    }
}